#clever way to only get some files: 
# http://stackoverflow.com/questions/1279533/is-there-a-way-to-tell-git-to-only-include-certain-files-instead-of-ignoring-cer
*.R
*.sas
*.sh
*.py
*.sas7bdat
*.R*
*__py*
!mtcs_gformula_20140908.sas
!mtcs_snaft1_2014915.sas
